<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lina(3.0)</title>
    <style>
        body{
            margin: 0;
            display: grid;
            height: 100vh;
            place-items: center;
            color: white;
            background: black;
        }
        h1{
            font-size: 100px;
            font-family: 'AudioWide';
        }
    </style>
</head>
<body>
    <h1>Lina(3.0)</h1>
</body>
</html>